input.nums{
    width:60px;
    height: 20px;
    margin: 5px;
}

input.dop{
    background-color: #82abea;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.back button{
    display: block;
}

.data{
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;
}

.dm{
    font-size: 20px;
}