{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<a class="back" href="{{ url_for('methods_menu')}}">
    <button>Back</button>
</a>

<form action="" enctype=multipart/form-data method="POST">
    <h3>Method: {{ title }}</h3>
    <input name="fil" type="file"><br>
    <p>or</p>

    {{ text|safe }}

    <br>
    <label for="chroots">Check roots</label>
    <input id='chroots' name="checkRoots" type="checkbox">
    <br>
    <br>
    <button type="submit">Calculate</button>
    <button type="reset">Clear</button>
    <br>
    <br>
    <button name="rand" type="submit" value="3">Random</button>

    <p>{{ answer|safe }}</p>
</form>
{% endblock %}